body {
  background-color: lightgrey;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  display: block;
  padding: 10px;
}

.maindiv {
  border: 1px solid darkgray;
}

.vitamins {
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.refresh {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: transform 0.2s ease-in-out;
}

.refresh:hover {
  transform: scale(1.1);
}

.newVitaminForm {
  padding-top: 50px;
  display: block;
}
