body {
  background-color: lightgrey;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  display: block;
  padding: 10px;
}

.maindiv {
  border: 1px solid darkgray;
}

.vitamins {
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.refresh {
  padding-top: 20px;
}
